
ion-icon {
    margin-right: 10px;
}

ion-button {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 20px;
    display: block;
    width: 100%;
    contain: content;
}

.imgkinetik {
    margin-top: 5px;
    width: 100%;
    contain: content;
}

ion-content {
    --offset-top: 50px;
}

