<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      KTI - Inventario (v0.8)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

  <ion-img src="assets/imgs/logo-icono.png" routerLink="/login"></ion-img> 

  <ion-grid  color="dark">
    <ion-row>
      <ion-col text="center">
        <h2>Conteo de inventario en línea</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="logo-kinetik">
    <ion-img src="assets/imgs/logo-kinetik.png"></ion-img>  
  </ion-row>
  

</ion-content>
