
ion-content{
    --background: #fafafa;
}

ion-item {
  font-size: 1.2em;
  border-bottom: 10px !important;
}

ion-row {
  align-items: center;
  text-align: center;
  --background: transparent;
  --ion-color-base: transparent !important;
}

.logo-cliente {
  padding-top: 90xp;
  margin-top: 150px;
  margin-bottom: 20px;
  display:block;
  margin:auto;
  height: 365px;
}

.login-box {
  background: rgb(23, 24, 24);
  padding: 10px 10px 20px 10px;
  margin-top: 10px;
  border-radius: 10px !important;
}

.logo-kinetik {
  padding-top: 5px;
  padding-bottom: 0px;
  height: 0px !important;
  display:block;
  margin:auto;
}
